<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935252545745-n1udvdvv00r98jdtk96easous0pp61kv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935252545745-n1udvdvv00r98jdtk96easous0pp61kv</string>
	<key>API_KEY</key>
	<string>AIzaSyDWfqi8OhwWbZkzQfcCcv1UwM0Xc4IBnb4</string>
	<key>GCM_SENDER_ID</key>
	<string>935252545745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.renterii</string>
	<key>PROJECT_ID</key>
	<string>renterii-a287d</string>
	<key>STORAGE_BUCKET</key>
	<string>renterii-a287d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935252545745:ios:21b665adb21329782735f0</string>
</dict>
</plist>